---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";
import Herosection from "../components/herosection.astro";
import Aniversario from "../components/aniversario.astro";
import Informacion from "../components/informacion.astro";
---

<Layout title="U.E.P San Gerardo">
  <main class="flex flex-col items-center gap-40 lg:gap-20 lg:mt-40">
    <Header />
    <Informacion />
    <Herosection />
    <Aniversario />
  </main>
</Layout>