<section class="max-w-screen-xl m-auto w-full h-auto flex flex-col items-center justify-center pt-10 px-10">
    <h2 class="font-monse font-medium text-[5rem] text-center text-[#000000]">
      Celebramos Nuestro
    </h2>
    <div
      class="w-[80%] h-auto flex flex-col px-2 py-20 gap-40 items-center justify-center"
    >
      <div class="w-full h-auto">
        <figure class="float-left mr-6 mb-4 p-4">
          <img src="/30sg.webp" alt="aniversario" class="w-[25rem]" />
        </figure>
        <p class="font-roboto-slab text-[2.2rem] leading-[3.4rem] text-justify text-gray-700">
          ¡Celebramos con orgullo tres décadas de excelencia educativa! Es un
          momento de gran regocijo para nuestra institución, ya que conmemoramos
          30 años de dedicación inquebrantable al desarrollo integral de nuestros
          estudiantes y al servicio excepcional a nuestra comunidad. Desde nuestro
          humilde inicio, nos hemos esforzado por elevar los estándares de la
          educación en el sur del país. Hoy, nos enorgullece afirmar que nos hemos
          convertido en la principal institución educativa de la región,
          reconocida por nuestra calidad académica, nuestro compromiso con la
          innovación educativa y nuestro impacto positivo en la sociedad. ¡Gracias
          a todos por ser parte de este increíble viaje educativo!
        </p>
      </div>
      <!-- <img
        class="w-full h-[40rem] rounded-lg object-cover"
        src="/image30.png"
        alt="img-aniversario"
      /> -->
      <video src="/public/intro.mp4" class="rounded-lg" controls preload="auto" muted autoplay></video>
    </div>
  </section>