<section class="bg-white max-w-screen-xl w-full lg:h-[90vh] lg:mt-40">
  
  <div class="flex flex-col gap-20 w-full h-full py-4 px-2 mx-auto max-w-screen-xl sm:py-4 lg:px-6">
    <h2 class="font-monse font-medium text-[3.5rem] lg:text-[5.2rem] text-center text-[#1B2534]">
      Explora Nuestras Actividades & Logros
    </h2>
    <p class="font-roboto-slab text-[1.4rem] lg:text-[2.2rem] text-center text-gray-600 lg:px-60">
      Conoce las actividades que enriquecen el aprendizaje de nuestros
      estudiantes, desde eventos académicos hasta iniciativas extracurriculares
      que impulsan su crecimiento y desarrollo integral.
    </p>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-5 gap-4 w-full h-full"
    >
      <!-- Elemento 1 -->
      <div
        class="col-span-2 sm:col-span-1 md:col-span-2 bg-gray-50 h-auto md:h-full flex flex-col"
      >
        <figure
          class="group relative flex flex-col overflow-hidden rounded-lg px-4 pb-4 pt-40 flex-grow"
        >
          <img
            src="/public/bento1.jpg"
            alt="imagen-social"
            class="absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out"
          />
          <div
            class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"
          >
          </div>
          <h3
            class="bg-slate-800/50 rounded-lg z-10 text-2xl font-monse font-medium text-white absolute top-0 left-0 p-4 xs:text-xl md:text-3xl"
          >
            Logros
          </h3>
        </figure>
      </div>

      <!-- Elemento 2 -->
      <div
        class="col-span-2 sm:col-span-1 md:col-span-2 bg-stone-50 flex flex-col"
      >
        <figure
          class="group relative flex flex-col overflow-hidden rounded-lg px-4 pb-4 pt-40 mb-4 flex-grow"
        >
          <img
            src="/public/bento2.jpg"
            alt="imagen-social"
            class="absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out"
          />
          <div
            class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"
          >
          </div>
          <h3
            class="bg-slate-800/50 rounded-lg z-10 text-2xl font-monse font-medium text-white absolute top-0 left-0 p-4 xs:text-xl md:text-3xl"
          >
            Diversi&oacute;n
          </h3>
        </figure>
        <div
          class="w-full grid gap-4 grid-cols-2 sm:grid-cols-2 lg:grid-cols-2 flex-grow"
        >
          <figure
            class="group relative flex flex-col overflow-hidden rounded-lg px-4 pb-4 pt-40"
          >
            <img
              src="/public/bento3.jpg"
              alt="imagen-social"
              class="absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out"
            />
            <div
              class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"
            >
            </div>
            <h3
              class="bg-slate-800/50 rounded-lg z-10 text-2xl font-monse font-medium text-white absolute top-0 left-0 p-4 xs:text-xl md:text-3xl"
            >
              Aprendizaje
            </h3>
          </figure>
          <figure
            class="group relative flex flex-col overflow-hidden rounded-lg px-4 pb-4 pt-40"
          >
            <img
              src="/public/bento4.jpg"
              alt="imagen-social"
              class="absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out"
            />
            <div
              class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"
            >
            </div>
            <h3
              class="bg-slate-800/50 rounded-lg z-10 text-2xl font-monse font-medium text-white absolute top-0 left-0 p-4 xs:text-xl md:text-3xl"
            >
              Meritos
            </h3>
          </figure>
        </div>
      </div>

      <!-- Elemento 3 -->
      <div
        class="col-span-2 sm:col-span-1 md:col-span-1 bg-sky-50 h-auto md:h-full flex flex-col"
      >
        <figure
          class="group relative flex flex-col overflow-hidden rounded-lg px-4 pb-4 pt-40 flex-grow"
        >
          <img
            src="/public/bento5.jpg"
            alt="imagen-social"
            class="absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out"
          />
          <div
            class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"
          >
          </div>
          <h3
            class="bg-slate-800/50 rounded-lg z-10 text-2xl font-monse font-medium text-white absolute top-0 left-0 p-4 xs:text-xl md:text-3xl"
          >
            Social
          </h3>
        </figure>
      </div>
    </div>
  </div>
</section>
