---
import { IoCall } from "react-icons/io5";
import { MdEmail } from "react-icons/md";
import { IoLocationSharp } from 'react-icons/io5';
---

<section class="hidden lg:flex items-center justify-center gap-40">
    <div class="font-monse font-medium text-[1rem] inline-flex items-center gap-4">
      <IoCall className="text-[2.5rem] text-gray-600" />
      <span class="lg:text-[1.5rem] text-[#1B2534]">07 258 5658 - 07 254 5744</span>
    </div>
    <div class="font-monse font-medium text-[1rem] inline-flex items-center gap-4">
        <MdEmail className="text-[2.5rem] text-gray-600"/>
        <a href="mailto:info@sangerardo.edu.ec" class="text-blue-500 hover:underline lg:text-[1.5rem]">
            info@sangerardo.edu.ec
          </a>
    </div>
    <div class="font-monse font-medium text-[1rem] inline-flex items-center gap-4">
        <IoLocationSharp className="text-[2.5rem] text-gray-600"/>
        <span class="lg:text-[1.5rem] text-[#1B2534]">Bernardo valdivieso 11 70 y Mercadillo, Loja, Ecuador</span>
    </div>
</section>
